
.nav{
  font-size: 24px;
}
.Posts-home{

}

/*body {
  background: papayawhip;
}*/
.signup {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  /*margin-top: 100px;*/
}
.signup label {
  display: inline-block;
  width: 100px;
}

.wine {
  height: 128px;
}
