<div ng-controller="WineController as wines">
  <!-- <img ng-src="wines.nowShowing.image_url"> -->
  <ul>
    {{home.nowShowing}}
    <li>Name: {{home.nowShowing.name}}</li>
    <li>Type of wines: {{home.nowShowing.kind}}</li>
    <li>Country of Origin: {{home.nowShowing.country}}</li>
    <li>Region: {{home.nowShowing.region}}</li>
    <li>Rating: {{home.nowShowing.rating}}</li>
    <li>{{home.nowShowing.description}}</li>
    <!-- <button  ng-if="currentUser.id == wines.nowShowing.user_id" type="button" name="button">Edit Wine</button>
    <button ng-if="currentUser.id == wines.nowShowing.user_id" type="button" name="button">Delete Wine</button> -->
  </ul>
</div>
